.card {
  position: relative;
  cursor: pointer;
  border: none;
  .offer {
    width: 70px;
    background-color: #a74f65;
    color: white;
    border-radius: 15px;
    left: 20px;
    top: 20px;
    z-index: 2;
    position: absolute;
    font-size: 14px;
  }
  .card-img-top {
    height: 250px;
  }
  .card-body {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    .card-title {
      color: #a74f65;
    }
    .icon-plus {
      color: #a74f65;
    }
  }
  &:hover {
    transform: scale(1.05);
    transition: 1.5s;
    border-bottom: 4px solid #a74f65;
  }
}

.search-bar {
  width: 100%;
  input {
    outline: none;
    border: 1px solid #a74f65;
     font-size: 18px;
     font-weight: 600;
    &::placeholder {
      color: #a74f65;
    }
    &:focus {
      border: 1px solid #a74f65;
      box-shadow: 0 0 0 0.25rem rgba(167, 79, 101, 0.25);
    }
  }
}
